* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; 
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	padding: 0 15px;
	min-height: 50px;
}

.top-bar {
	color: gray;
	display: flex;
	gap: 15px;
}

.notification {
	position: relative;
}

.notification::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 8px;
	height: 8px;
	background-color: red;
	border-radius: 50%;
	transform: translate(100%, -50%)
}

.per-te {
	position: relative;
	color: white;
}

.per-te::after {
	content: "";
	width: calc(100% - 20px);
	height: 2px;
	position: absolute;
	background-color: white;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
}

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	display: flex;
	flex-direction: column;
}

.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}

.sidebar img {
	width: 50px;
	object-fit: fill;
	border-radius: 100%;
	border: 2px solid white;	
}

.logo-boolean {
	position: relative;
}

.follow-button {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 30%);
	width: 15px;
	height: 15px;
	background-color: red;
	border-radius: 50%;
}

.sidebar-elements {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 30px;
}

.sidebar-elements span {
	font-size: small;
}

.info {
	padding: 15px;
}

footer div{
	flex-basis: 50%;
}

footer h3 {
	font-size: medium;
	margin-bottom: 5px;
}

footer p {
	font-size: small;
}

.footer-bar {
	background-color: black;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}

.footer-elements {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: gray;
	font-size: small;
}

.home {
	color: white;
}

.plus-button {
	background-color: white;
	padding: 0 10px;
	color: black;
	border-radius: 5px;
	border-left: 2px solid rgb(99, 186, 215);
	border-right: 2px solid rgb(235, 45, 235);
	font-size: 20px;
}

.chat-container {
	position: relative;
}

.chat {
	position: absolute;
	top: 0;
	right: -55%;
	background-color: red;
	border-radius: 100%;
	color: white;
	font-size: smaller;
	padding: 0 3px;
}

.footer-bar i {
	font-size: 22px;
}